*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #f7f7f8;
}

.parent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 30px;
}
.card{
    border-radius: 10px;
    width: calc((100% - 20px)/2);
    min-width:460px ;
    max-width: min(calc((100% - 20px)/2),100%);
    flex-grow: 1;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}

.tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tag-left{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.tag-left p{
    border: 1px solid #F1F1F3; 
    padding: 8px 14px;
    border-radius: 6px; 

}

.righ-tag{
    font-weight: bold;
}

h3{
    margin:24px 0px 10px 0px  ;
}

button{
    width: 100%;
    margin-top: 24px;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 24px;
    border-radius: 6px;
    border: 1px solid #F1F1F3; 
    background-color: #f7f7f8;
    cursor: pointer;
}


.company{
    background-color: white;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border-radius: 12px;
        border: 1px solid #F1F1F3; 
        height: 100px;

}

.line{
    width: 1px;
    height: 100%;
    background-color: #F1F1F3;
}